/* ---------- Typography ---------- */

/* Fonts */

body {
	font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input,
button,
select,
textarea {
	font-family: inherit;
}

/* Font Size */

.entry-footer,
.comment-meta {
	font-size: 75%;
}

body,
input,
button,
select,
textarea,
.archive .jetpack-testimonial .entry-title {
	font-size: 100%;
}

h4 {
	font-size: 112.5%;
}

h3,
blockquote {
	font-size: 125%;
}

h2,
.archive-description {
	font-size: 150%;
}

h1,
.header-logo {
	font-size: 200%;
}

@media screen and (min-width: 26rem) { /* 416 px */

	body {
		font-size: 112.5%;
	}

}

@media screen and (min-width: 37.5rem) { /* 600 px */

	.blog .entry-title,
	.archive .entry-title {
		font-size: 112.5%;
	}

}

/* Line Height */

body {
	line-height: 1.5;
}

h1,
h2,
h3,
h4 {
	line-height: 1.3;
}

/* Font Weight: Bold */

.archive .jetpack-testimonial .entry-title::before {
	font-weight: normal;
}

h1,
h2,
h3,
h4,
strong,
.header-logo {
	font-weight: bold;
}

/* Font Style: Italic */

em,
blockquote,
figcaption {
	font-style: italic;
}

/* Text Decoration: Underline */

.site-header a,
.entry-header a,
.button,
.comment-meta a,
.site-footer a,
.more-link {
	text-decoration: none;
}

.comment-meta a:hover,
.comment-meta a:focus {
	text-decoration: underline;
}

/* Text Transform: Uppercase */

h1,
h2,
h3,
h4,
.site-header,
button,
.button,
.more-link {
	text-transform: capitalize;
}

/* Text Alignment */

/* List Styles */

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: square;
}

nav ul,
.widget ul,
.comment-list,
.comment-list .children {
	list-style: none;
}

/* ---------- Colors ---------- */

/* Darker Gray #333 */

body,
.cta .button,
.cta .button:active,
.cta .button:hover,
.cta .button:focus,
.comment-meta a,
.comment-meta a:active,
.comment-meta a:hover,
.comment-meta a:focus {
	color: #333;
}

/* Dark Gray #666 */

.button {
	border-right: 0.125em solid #666;
	border-bottom: 0.125em solid #666;
}

.button:active {
	border-top: 0.125em solid #666;
	border-right: none;
	border-bottom: none;
	border-left: 0.125em solid #666;
}

.search input[type="search"] {
	border-right: none;
}

.search input[type="search"] + button {
	border-left: none;
}

/* Medium Gray #999 */

blockquote,
figcaption,
.site-footer {
	color: #999;
}

/* Light Gray #ccc */

.cta a:hover,
.cta a:focus {
	color: #ccc;
}

button {
	border: 2px outset #ccc;
}

blockquote {
	border-left: 0.25em solid #ccc;
}

/* Lighter Gray #eee */

/* White #fff */

.button,
.button:active,
.button:hover,
.button:focus,
.cta,
.more-link,
.more-link:active,
.more-link:hover,
.more-link:focus {
	color: #fff;
}

.cta .button,
button {
	background: #fff;
}

input:disabled {
	background: #fff;
}

input:-moz-read-only {
	background: #fff;
}

input:read-only {
	background: #fff;
}

textarea {
	border: .125em inset #fff;
}

.comment {
	border: .125em solid #fff;
}

.main-sidebar,
.entry-footer,
.post-navigation {
	border-top: 1px solid #fff;
}

@media screen and (min-width: 60rem) { /* 960 px */

	.main-sidebar {
		border-top: none;
		border-left: 1px solid #fff;
	}

}

/* Blue #0085ca */

a,
a:active {
	color: #0085ca;
}

.button,
.cta,
.more-link,
.more-link:active {
	background: #0085ca;
}

.blog .entry-header:hover img,
.blog .entry-header:focus img,
.archive .entry-header:hover img,
.archive .entry-header:focus img,
.search .entry-header:hover img,
.search .entry-header:focus img {
	-webkit-filter: sepia(1);
	filter: sepia(1);
}

:focus {
	outline: #0085ca solid 0.125rem; /* 2 px */
}

::selection {
	background: #0085ca;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background: #0085ca;
	color: #fff;
	text-shadow: none;
}

/* Light Blue #74d1ea */

a:hover,
a:focus,
.cta a,
.cta a:active {
	color: #74d1ea;
}

.more-link:hover,
.more-link:focus {
	background: #74d1ea;
}

/* ---------- Box Model ---------- */

/* Box Sizing */

html {
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
	-moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Border Radius */

input,
button,
.button,
textarea,
.cta {
	border-radius: 0.25em;
}

.search input[type="search"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.search input[type="search"] + button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Dimensions */

input[type="search"] {
	width: auto;
}

input,
textarea {
  width : 100%;
}

html,
.site {
	height: 100%;
}

img {
	max-width: 100%;
}

/* Padding */

.widget ul,
.comment-list,
.comment .children {
	padding: 0;
}

.menu-toggle {
	padding: 0.25em 0.5em;
}

input,
textarea {
	padding: 0.5em;
}

button,
.button,
.more-link {
	padding: 0.5em 1em;
}

.comment {
	padding: 1em;
}

.main-sidebar,
.entry-footer,
.post-navigation {
	padding: 1em 0 0;
}

ol,
ul,
blockquote {
	padding: 0 0 0 1em;
}

.cta {
	padding: 2em;
}

@media screen and (min-width: 48rem) { /* 768 px */

	.main-sidebar {
		padding: 2em 0 0;
	}

}

@media screen and (min-width: 60rem) { /* 960 px */

	.main-sidebar {
		padding: 0 0 0 3em;
	}

}

/* Margins */

.header-logo,
p:last-child,
ol:last-child,
ul:last-child,
blockquote:last-child,
form:last-child,
figcaption:last-child,
.widget:last-child,
.cta:last-child {
	margin: 0;
}

h1,
h2,
h3,
h4 {
	margin: 0 0 0.5em;
}

.header-nav li + li,
.entry-footer,
.post-navigation,
.comment + .comment,
.comment-body + .children,
.comment-meta + .comment-content {
	margin: 1em 0 0;
}

p,
ul,
ol,
blockquote,
form,
figcaption,
.single article header,
.page article header,
.widget,
.cta {
	margin: 0 0 1em;
}

.archive .jetpack-testimonial .entry-title {
	margin: 0 0 0 1em;
}

.comments-area {
	margin: 2em 0 0;
}

.archive-description {
	margin: 0 0 2em;
}

@media screen and (min-width: 37.5rem) { /* 600 px */

	.header-nav li + li {
		margin: 0;
	}

}

@media screen and (min-width: 48rem) { /* 768 px */

	.widget {
		margin: 0 0 2em;
	}

}

@media screen and (min-width: 60rem) { /* 960 px */

	.widget {
		margin: 0 0 3em;
	}

}

/* ---------- Display Properties ---------- */

.button,
.more-link {
	display: inline-block;
}

.wp-post-image,
.cat-links,
.tags-links,
.edit-link {
	display: block;
}

/* ---------- Position Properties ---------- */

.site-header {
	position: relative;
}

.menu-toggle {
	position: absolute;
}

.menu-toggle {
	top: 1em;
	right: 1em;
}

textarea {
	vertical-align: top;
}

html {
	overflow: hidden;
}

.site,
textarea {
	overflow: auto;
}

/* Z Index */

.entry-title {
	z-index: 1;
}

/* ---------- Float Properties ---------- */

/* ---------- Flexbox ---------- */

.header-nav.toggled ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.header-nav ul {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media screen and (min-width: 37.5rem) { /* 600 px */

	.header-nav,
	.header-nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.header-nav ul {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.header-nav ul ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

}

@media screen and (min-width: 48rem) { /* 768 px */

	.header-nav ul {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

}

/* ---------- CSS Grid ---------- */

.site-header,
.site-main,
.blog .entry-header,
.archive .entry-header,
.archive .jetpack-testimonial,
.site-footer {
	display: grid;
}

.site-header,
.site-main {
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: 1em auto 1em auto 1em;
}

.site-header {
	grid-template-areas:
		". . ."
		". header-logo ."
		". . ."
		" . header-nav ."
		". . .";
}

.header-logo {
	grid-area: header-logo;
}

.header-nav {
	grid-area: header-nav;
}

.site-main {
	grid-template-areas:
		". . ."
		". main-content ."
		". main-content ."
		" . main-content ."
		". . .";
}

.site-main.has-sidebar {
	grid-template-areas:
		". . ."
		". main-content ."
		". . ."
		" . main-sidebar ."
		". . .";
}

.main-content {
	grid-area: main-content;
}

.blog .main-content,
.archive .main-content,
.search .main-content {
	display: grid;
	grid-gap: 2em;
}

.blog .entry-header,
.archive .entry-header,
.archive .jetpack-testimonial {
	grid-gap: 1em;
}

.blog .entry-title,
.archive .entry-title,
.archive .jetpack-testimonial .entry-header {
	order: 2;
}

.main-sidebar {
	grid-area: main-sidebar;
}

.site-footer {
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: 1em auto 1em;
	grid-template-areas:
		". . ."
		". footer-content ."
		". . .";
}

.footer-content {
	grid-area: footer-content;
}

@media screen and (min-width: 48rem) { /* 768 px */

	.site-header {
		grid-template-columns: 2em auto 2em auto 2em;
		grid-template-rows: 2em auto 2em;
	}

	.site-header {
		grid-template-areas:
			". . . . ."
			". header-logo . header-nav ."
			". . . . .";
	}

	.site-main {
		grid-template-columns: 2em 1fr 2em;
		grid-template-rows: 2em auto 2em auto 2em;
	}

	.blog .main-content,
	.archive .main-content,
	.search .main-content {
		grid-template-columns: repeat(2, 1fr);
	}

	.blog .page-header,
	.archive .page-header,
	.search .page-header {
		grid-column: span 2;
	}

	.site-footer {
		grid-template-columns: 2em 1fr 2em;
		grid-template-rows: 2em auto 2em;
	}

}

@media screen and (min-width: 60rem) { /* 960 px */

	.site-header {
		grid-template-columns: 3em auto 3em auto 3em;
		grid-template-rows: 3em auto 3em;
	}

	.site-main {
		grid-template-columns: 3em minmax( auto, 36em ) minmax( 3em, 1fr ) 30% 3em;
		grid-template-rows: 3em auto 3em;
	}

	.site-main.content-thin {
		grid-template-columns: 1fr 36em 1fr;
	}

	.site-main {
		grid-template-areas:
			". . . . ."
			". main-content main-content main-content ."
			". . . . .";
	}

	.site-main.has-sidebar {
		grid-template-areas:
			". . . . ."
			". main-content . main-sidebar ."
			". . . . .";
	}

	.site-main.content-thin {
		grid-template-areas:
			". . ."
			". main-content ."
			". . .";
	}

	.blog .main-content,
	.archive .main-content,
	.search .main-content {
		grid-gap: 3em;
	}

	.site-footer {
		grid-template-columns: 3em 1fr 3em;
		grid-template-rows: 3em auto 3em;
	}

}

@media screen and (min-width: 75rem) { /* 1200 px */

	.blog .main-content,
	.archive .main-content,
	.search .main-content {
		grid-template-columns: repeat(3, 1fr);
	}

	.blog .page-header,
	.archive .page-header,
	.search .page-header {
		grid-column: span 3;
	}

}

@media screen and (min-width: 87.5rem) { /* 1400 px */

	.site-header {
		grid-template-columns: 1fr minmax( 24em, auto ) 3em minmax( 24em, 36em ) 1fr;
	}

	.site-main {
		grid-template-columns: 1fr minmax( auto, 36em ) 3em 24em 1fr;
	}

	.site-footer {
		grid-template-columns: 1fr auto 1fr;
	}

}

/* ---------- Animated Transitions ---------- */

a {
	transition: color 0.25s ease;
}

.entry-header img {
	transition: filter 0.25s ease;
}

/* ---------- Browser Fixes and Accessibility ---------- */

input[type=search] {
	-webkit-appearance: none;
}

a {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip: ink;
}

button {
	cursor: pointer;
}

.search label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Content Injections */

.archive .jetpack-testimonial .entry-title::before {
	content: '\2014';
}



/*
 *
 *
 * Temporary portfolio project styles
 *
 *
 */

.portfolio-filter {
  font-size: 14px;
  font-size: 1.4rem;
  overflow: hidden;
  text-transform: uppercase;
}
 
.portfolio-filter ul {
  margin: 0 0 2em;
  padding: 0;
  text-align: center;
  width: 100%;
}
 
.portfolio-filter ul li {
  background: #f0f0f0;
  color: #999;
  cursor: pointer;
  display: inline-block;
  list-style-type: none;
  margin: 0 1em 1em 0;
  padding: .2em .5em;
  text-align: center;
}
 
.portfolio-filter ul li:first-child {
  margin-right: .8em;
}
 
.portfolio-filter ul li:focus, .portfolio-filter ul li:hover {
  color: #000;
}
 
.portfolio .type-jetpack-portfolio {
  float: left;
  margin: 0 -1px -1px 0;
  width: 100%;
}
 
@media screen and (min-width: 480px) {
  .portfolio .type-jetpack-portfolio {
    max-width: 100%;
    min-height: inherit;
  }
}
 
@media screen and (min-width: 768px) {
  .portfolio .type-jetpack-portfolio {
    max-width: 239px;
    max-height: 180px;
  }
}
 
.portfolio .type-jetpack-portfolio img {
  display: block;
}
 
.portfolio .type-jetpack-portfolio:hover {
  background: #000;
  opacity: .6;
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
}